* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #FFFFFF;
}

img {
    max-width: 100%;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

header {
    margin-bottom: 82.71px;
    margin-top: 40px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navigation {
    width: 826px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.link {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

.colorText {
    color: #F25822;
}

.selectNavigation {
    border: 0px;
    position: relative;
    outline: 0px;
    appearance: none
}

.menuSel {
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
}

#icon {
    width: 9px;
    height: 5px;
    flex-shrink: 0;
    background: url("./img/icon.svg") repeat;
}

main {
    margin-bottom: 162px;
    margin-top: 89px;
}

.myCont {
    display: flex;
    justify-content: space-between;
}

.myContText {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imgCont {
    width: 610.735px;
    height: 372.904px;
    flex-shrink: 0;
}

.imgRight {
    width: 544px;
    height: 374px;
}

.title {
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    width: 522px;
}

#imgT {
    width: 280px;
    height: 76px;
    display: flex;
    position: absolute;
}

.text {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
    width: 466px;
}

.btnList {
    display: flex;
    margin-top: 37px;
    justify-content: flex-start;
    gap: 20px;
}

.btn {
    width: 140px;
    height: 50px;
    background: #F25822;
    border-radius: 50px;
    border: #F25822;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.btn1 {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    border: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logosLink {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}